In [1]:
# Задачи
# Импортируйте библиотеку pandas как pd. Загрузите датасет bookings.csv с разделителем ;
# Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.
# Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.
# На сколько ночей в среднем бронируют отели разных типов?
# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?
# Проанализируйте даты запланированного прибытия. 
# – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?
# – Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов.
# Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?
# Создайте колонку total_kids, объединив children и babies. Отели какого типа в среднем пользуются большей популярностью у клиентов с детьми?
# Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), и False – в противном случае. Посчитайте отношение количества ушедших пользователей к общему количеству клиентов, выраженное в процентах (churn rate). Укажите, среди какой группы показатель выше.

In [ ]:
# Описание данных:
# Hotel – тип отеля (City Hotel или Resort Hotel)  
# Is canceled – бронирование было отменено (1) или нет (0); неотменённое считается успешным
# Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
# Arrival full date – полная дата прибытия
# Arrival date year – год прибытия  
# Arrival date month – месяц прибытия  
# Arrival date week number – номер недели прибытия
# Arrival date day of month – день прибытия
# Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
# Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
# Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
# Adults – число взрослых
# Children – число детей
# Babies – число младенцев 
# Meal – выбранный тип питания
# Country – страна происхождения клиента
# Reserved room type – тип зарезервированного номера
# Assigned room type – тип полученного номера (может отличаться от забронированного)
# Customer type – тип бронирования
# Reservation status – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
# Reservation status date – дата обновления статуса

In [1]:
import matplotlib.pyplot as mpl
import pandas as pd
import numpy as np
import datetime as dt
import seaborn as sns

from sklearn.linear_model import LogisticRegressionCV
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import roc_auc_score

%matplotlib inline

In [2]:
# Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv, находящийся по ссылке, с разделителем ;  
# и сохраните в переменную bookings. Затем запишите первые 7 строк в переменную bookings_head.
booking = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep = ';')

In [3]:
booking.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [4]:
# Посмотрите на размеры таблицы. Сколько всего в ней столбцов?
booking.shape

(119390, 21)

In [8]:
# К какому типу относится большинство переменных? 
booking.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

In [12]:
# Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. 
# Исправьте ситуацию: приведите названия столбцов к нижнему регистру и замените пробелы на знак нижнего подчёркивания. 
# Например: Is Canceled -> is_canceled

booking.columns = booking.columns.str.lower().str.replace(' ' , '_')

array([0, 1], dtype=int64)

In [26]:
# Перейдём к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? 
# Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). 
# В качестве ответа выберите страны, входящие в топ-5.

# reserved and not canceled
booking[booking.is_canceled == 1].head(2)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22

In [27]:
booking[booking.reserved_room_type == booking.assigned_room_type].groupby('country').agg({'hotel':'count'}).\
    rename(columns={'hotel':'assign_count'}).sort_values('assign_count', ascending=False).head()

         assign_count
country
PRT             42481
GBR             10678
FRA              8697
ESP              7226
DEU              6543

In [ ]:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? 
# Запишите полученные значения с точностью до 2 знаков после точки.
booking.hotel.unique()

In [22]:
booking.groupby('hotel').agg({'stays_total_nights':'mean'}).\
    rename(columns={'stays_total_nights':'stays_total_nights_mean'}).round(2)

              stays_total_nights_mean
hotel
City Hotel                       2.98
Resort Hotel                     4.32

In [24]:
# Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга.
# Сколько подобных наблюдений встретилось в датасете?
booking[booking.reserved_room_type != booking.assigned_room_type].hotel.count()

14917

In [31]:
# Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?
booking.groupby('arrival_date_year').arrival_date_month.describe()['top']

arrival_date_year
2015    September
2016      October
2017          May
Name: top, dtype: object

In [32]:
# Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) 
# бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?
booking[booking.hotel == 'City Hotel'].groupby(['arrival_date_year' , 'is_canceled']).arrival_date_month.describe()['top']

arrival_date_year  is_canceled
2015               0                October
                   1              September
2016               0              September
                   1                October
2017               0                    May
                   1                    May
Name: top, dtype: object

In [37]:
booking.head(2)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01

In [40]:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?
booking[['adults', 'children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [ ]:
# Создайте колонку total_kids, объединив столбцы children и babies.
# Для отелей какого типа среднее значение переменной оказалось наибольшим?
#    City hotel – отель находится в городе
#    Resort hotel – отель курортный
# В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [42]:
booking['total_kids'] = booking.children + booking.babies

In [45]:
booking.groupby('hotel').agg({'total_kids':'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [ ]:
# Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. 
# Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), 
# которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. 
# Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, 
# выраженное в процентах.

# Создайте переменную has_kids, которая принимает значение True, если клиент указал хотя бы одного ребенка (total_kids),
# в противном случае – False. 
# Далее проверьте, среди какой группы пользователей показатель оттока выше. 

# В качестве ответа укажите наибольший %, округленный до 2 знаков после точки 
# (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [104]:
booking['has_kids'] = booking.total_kids > 0

In [143]:
rez = booking.groupby(['has_kids', 'is_canceled'] , as_index = False).hotel.count()

In [148]:
rez.head()

   has_kids  is_canceled  hotel
0     False            0  69093
1     False            1  40965
2      True            0   6073
3      True            1   3259

In [153]:
rez_False = rez[rez.has_kids == False]
rez_False['perc'] = rez_False.hotel / rez_False.hotel.sum() * 100
rez_False.round(2)

<ipython-input-153-3e3a25a9afc3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rez_False['perc'] = rez_False.hotel / rez_False.hotel.sum() * 100

   has_kids  is_canceled  hotel   perc
0     False            0  69093  62.78
1     False            1  40965  37.22

In [154]:
rez_True = rez[rez.has_kids == True]
rez_True['perc'] = rez_True.hotel / rez_True.hotel.sum() * 100
rez_True.round(2)

<ipython-input-154-302bf192e058>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rez_True['perc'] = rez_True.hotel / rez_True.hotel.sum() * 100

   has_kids  is_canceled  hotel   perc
2      True            0   6073  65.08
3      True            1   3259  34.92

In [156]:
booking.groupby('has_kids', as_index=False).agg({'is_canceled':'mean'}).round(4)*100

   has_kids  is_canceled
0         0        37.22
1       100        34.92